<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".Ads.OpenAds"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoobHacker"
        tools:targetApi="31">
        <activity
            android:name=".Activity.SecurityToolsActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CloudSecurityActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.IOTActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MobileSecurityActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.IncidentResActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.BufferOverflowActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CryptographyActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.WirelessHackActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PenetrationTastingActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.WebSecurityActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SocialEngeeActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MalwareActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ExplorationActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.VulnerabilityActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ScanningEnumActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.InformationGatherActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.OSActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.NetworkFunActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SyllabusActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4744100396798322~3762606560" />
    </application>

</manifest>